body {
  background-image: url("https://djbooth.net/.image/t_share/MTUzNDg1OTkwNDA1MTUzOTkw/dwele-djboothtvjpg.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: absolute;
}